services:
  obdtrak-api:
    image: ghcr.io/ryzingtitan/obdtrak-api:6.2.0
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    restart: unless-stopped
    container_name: obdtrak-api
    networks:
      - obdtrak-internal
      - default
  obdtrak:
    image: ghcr.io/ryzingtitan/obdtrak:6.2.0
    ports:
      - "8091:3000"
    container_name: obdtrak
    restart: unless-stopped
    depends_on:
      - obdtrak-api
    networks:
      - obdtrak-internal
      - default
    environment:
      API_BASE_URL: ${API_BASE_URL}
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID}
      AUTH0_CLIENT_SECRET: ${AUTH0_CLIENT_SECRET}
      AUTH0_SECRET: ${AUTH0_SECRET}
      AUTH0_AUDIENCE: ${AUTH0_AUDIENCE}
      APP_BASE_URL: ${APP_BASE_URL}

networks:
  obdtrak-internal:
    internal: true
